*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    letter-spacing: 1px;
    color: inherit;
}

html {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: var(--color-basic-1);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
.shadow-out {
        -webkit-box-shadow: 0 3px 5px 0 var(--color-basic-1_special-1); /*For webkit browsers*/
        -moz-box-shadow: 0 3px 5px 0 var(--color-basic-1_special-1); /*For Firefox*/
        box-shadow: 0 3px 5px 0 var(--color-basic-1_special-1);
    }