/* переменные */
@import "variables.css";
@import "colors.css";
/* глобальные стили */
@import "globalStyles.css";

/* Блоки */
@import "blocks/body.css";
@import "blocks/header.css";
@import "blocks/main.css";

/* секции */
@import "blocks/sections/cover.css";
@import "blocks/sections/menu.css";
@import "blocks/sections/chips.css";
@import "blocks/sections/interior.css";
@import "blocks/sections/reviews.css";
@import "blocks/sections/reservation.css";
/* шрифты */
@import "fonts.css";
/* Блоки */
@import "blocks/body.css";
@import "blocks/hamburger.css";
@import "blocks/nav-list.css";