.hamburger {
    width: 22px;
    height: 16px;
  }
.hamburger.active {
  }
.hamburger__row {
    width: 100%;
    height: 2px;
    background-color: var(--color-basic-1);
    transition: 0.3s all ease;
  }
.hamburger_active .hamburger__row:nth-child(1) {
    transform: translate(0, 7px) rotate(-45deg);
  }
  .hamburger_active .hamburger__row:nth-child(2) {
    opacity: 0;
  }
  .hamburger_active .hamburger__row:nth-child(3) {
    transform: translate(0, -7px) rotate(45deg);
  }