.header {
  background-color: white;
  transition: 0.4s all;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
/* logo */
.header__logo-container {
    display: flex;
    align-items: center;
  }
.header__logo {
    flex-shrink: 0;
    margin-right: 1rem;
    width: 70px;
    display: flex;
  }
.header__logo-text {
    font-size: 2rem;
    font-family: "Open Sans 700 Italic", sans-serif;
  }
.header__contacts-container {
    display: flex;
    align-items: center;
  }
.header__telephone {
    display: block;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    border-right: 2px solid var(--color-basic-1);
    transition: 0.3s ease all;
  }
/* animation */
.header__telephone:hover {
    color: white;
}
.header__telephone-back {
    width: 100%;
    height: 115%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-basic-1);
    transform: translateX(100%);
    transition: 0.3s ease all;
}
/* animation */
.header__telephone:hover .header__telephone-back {
  transform: translateX(0);
}
/* animation */
.header__telephone:hover .header__telephone-back {
  transform: translateX(0);
}
.header__telephone-text {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  font-family: "Open Sans italic", sans-serif;
}
.header__address {
  display: block;
  padding: 0.5rem;
  position: relative;
  transition: 0.3s ease all;
}

/* animation */
.header__address:hover {
  color: white;
}

.header__address-back {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-basic-2);
  transition: 0.3s ease all;
}

/* animation */
.header__address:hover .header__address-back {
  width: 100%;
}

.header__address-text {
  position: relative;
  z-index: 2;
  font-size: 0.9rem;
  font-family: "Open Sans italic", sans-serif;
}

/* nav */
.header__nav {
  display: flex;
  align-items: center;
}
/* hamburger */
.header__hamburger {
  display: none;
}
/* --------media---------- */
@media screen and (max-width: 1000px) {
  .header__hamburger {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__address-text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
  }
  .header__logo {
    width: 44px;
  }
  .header__contacts-container {
    order: 3;
    align-items: stretch;
    align-self: flex-end;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .header__address,
  .header__telephone {
    width: 50%;
    text-align: center;
  }
  .header__address-text,
  .header__telephone-text {
    font-size: 1.4rem;
    color: white;
  }
  .header__telephone-back {
    transform: translateX(0);
  }
  .header__address-back {
    width: 100%;
  }
}
.nav-list {
    display: flex;

    font-size: 1.4rem;
    font-family: "Open sans italic", sans-serif;

    background-color: white;

    transition: 0.5s all ease;
  }
.nav-list_hided {
  }
.nav-list__item {
    display: flex;
    margin-left: 0.5rem;
    position: relative;
    border-bottom: 2px solid var(--color-basic-1);
  }
.nav-list__item:nth-child(1) {
    margin-left: 0;
  }
.nav-list__item-link {
    display: block;
    padding: 8px;
    position: relative;
    z-index: 2;
  }

.nav-list__item:nth-child(1) {
    margin-left: 0;
  }
.nav-list__item-link {
    display: block;
    padding: 8px;
    position: relative;
    z-index: 2;
  }
.nav-list__item-back {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease all;
  }

.nav-list__item-back_1 {
    background-color: var(--color-basic-4);
  }

  .nav-list__item-back_2 {
    background-color: var(--color-basic-3);
  }

  .nav-list__item-back_3 {
    background-color: var(--color-basic-2);
  }

  .nav-list__item-back_4 {
    background-color: var(--color-basic-4);
  }

  .nav-list__item-back_5 {
    background-color: var(--color-basic-3);
  }
/* animation */
.nav-list__item:hover .nav-list__item-back {
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .nav-list {
    width: 100%;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    position: fixed;
    top: var(--header-height);
    left: 0;
    font-size: 1.7rem;
    overflow-y: auto;
    z-index: 400;
  }
  .nav-list__item {
    padding: 1rem;
    margin-left: 0;
    flex-grow: 1;
    border-bottom: none;
    font-family: "Open Sans 600", sans-serif;
  }
  .nav-list__item-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list_hided {
    transform: translateX(-100%);
  }
  .nav-list__item-back {
    height: 100%;
  }
}
.header__hamburger {
}
.hamburger {
}

.hamburger__row {
}